<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model</title>
</head>
<body>

<div id="app">
    <h2>{{message}}</h2>

    <label for="agree"><input type="checkbox" name="sex" v-model="agree" id="agree">同意协议</label>

    <h2>您选择的： {{agree}}</h2>
    <button v-bind:disabled="!agree">下一步</button>

    <label for="">
        <input type="checkbox" value="篮球" v-model="hobbies">篮球
        <input type="checkbox" value="足球" v-model="hobbies">足球
        <input type="checkbox" value="兵乓球" v-model="hobbies">兵乓球
        <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    </label>

    <h1></h1>
    <label for="basketball"><input type="checkbox" value="篮球" id="basketball" v-model="hobbies">篮球</label>
    <label for="football"><input type="checkbox" value="足球" id="football" v-model="hobbies">足球</label>
    <label for="pong"><input type="checkbox" value="兵乓球" id="pong" v-model="hobbies">兵乓球</label>
    <label for="badminton"><input type="checkbox" value="羽毛球" id="badminton" v-model="hobbies">羽毛球</label>

    <h2>您的爱好是：{{hobbies}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>

    const app = new Vue({
        el: "#app",
        data: {
            message: "Hello, World!",
            agree: false,
            hobbies: []
        }
    })

</script>

</body>
</html>